@import '../../style/variables.scss';

.product-card{
    width: 286px;
    margin: 12px;
    box-shadow: $card-shadow;
    
    img{
       max-width: 100%;
    }

    .card-title.h5{
        height: 50px;
    }

    .btn{
        width: 100%;
    }

    .card-text{
        height: 1.2rem;
        font-size: 1.2rem;
        color: $orange;
        font-weight: 600;
    }
}