@import '../../style/variables.scss';

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0A1629' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E" ) !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%0A1629' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.home-page-content{

    .carousel-indicators{
        button{
            background-color: $deep-blue;
        }
    }

    .carousel-products.container{
        max-width: 100%;
        
        .carousel-item{
            padding: 60px 0;

            .card-group.home-caroucel{
                padding: 0 60px;
                width: 100%;

                @media (min-width:1199px) {
                      grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width:991px) {
                    .grid-item:nth-last-child(3n){
                        display: none;
                    }
                }

                @media (max-width: 670px) {
                    padding: 0;
                    grid-template-columns: repeat(2, 1fr);

                    .product-card{
                        width: 200px;
                        height: 350px;
                    }
                }

                @media (max-width: 480px) {
                    grid-template-columns: 1fr;

                    .grid-item:nth-last-child(2n){
                        display: none;
                    }

                    .product-card{
                        width: 250px;
                        height: 400px;
                    }
                }
            }
        }
    }
}

#bootstrap-override .carousel-control-prev,
#bootstrap-override .carousel-control-next{
    @media (max-width: 670px) {
        width: 32px !important;
    }
}