@import '../../style/variables.scss';

#default-header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $light-gray;

    .logo:hover{
        opacity: $hover-opacity;
    }

    .nav-item a{
        font-weight: bold;
        color: $deep-blue;
        border-radius: 20px;
        padding: 8px 16px;
        color: inherit;

        &:hover{
            background-color: $light-blue;
        }

        &:last-child{
            position: relative;

            span{
                position: absolute;
                top: 0;
                right: 0;
                border: 1px solid $deep-blue;
                background-color: $light-gray;
                color: $deep-blue;
                font-size: .7rem;
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }
        }
    }
}