@import '../../style/variables.scss';

#bootstrap-override #default-header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $light-gray;

    .navigate-bar{
        position: relative;

        @media (max-width: 480px) {
            display: none;
        }
    }

    .toggle-drop-down-menu{
        background-color: $light-blue;
        border-radius: 8px;
        padding: 10px;
        border: none;
        display: none;

        @media (max-width: 480px) {
            display: inline;
        }
    }
    
    .dropdown-menu{
        padding: 8px;
        position: absolute;
        bottom: 100%;
        right: 12px;
        animation: toggleDropDown .3s ease-out both;

        .dropdown-item{
            font-weight: bold;
            display: flex;
            padding: 6px;
            justify-content: space-between;

            &:hover{
                background-color: $deep-blue;
                color: $light-gray;
            }
        }

        &.is-visible{
            display: block;
            
            @media (min-width: 480px) {
                display: none;
            }
        }
        
        @keyframes toggleDropDown {
            to{
                bottom: -120px;
            }     
        }
    }

    .logo:hover{
        opacity: $hover-opacity;
    }

    .nav-item a{
        font-weight: bold;
        color: $deep-blue;
        border-radius: 20px;
        padding: 8px 10px;
        margin: 0 3px;
        color: inherit;

        &.current-page{
            background-color: $light-blue;
        }

        &:hover{
            background-color: $light-blue;
        }

        &:last-child{
            position: relative;

            .cart-count{
                position: absolute;
                top: -3px;
                right: -3px;
                border: 1px solid $deep-blue;
                background-color: $light-gray;
                color: $deep-blue;
                font-size: .7rem;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                text-align: center;
                padding: 1px 0;
            }
        }
    }
}