/* Colors */
$light-gray: #EEEEEE;
$deep-blue: #0A1629;
$hover-opacity: .9;

/* Default card shadow */
$card-shadow: 0px 36px 132px rgba(0, 0, 0, 0.07), 0px 15.0399px 55.1464px rgba(0, 0, 0, 0.0503198), 0px 8.04107px 29.4839px rgba(0, 0, 0, 0.0417275), 0px 4.50776px 16.5284px rgba(0, 0, 0, 0.035), 0px 2.39404px 8.77813px rgba(0, 0, 0, 0.0282725), 0px 0.996212px 3.65278px rgba(0, 0, 0, 0.0196802);