#bootstrap-override .filtro-produto {
    background-color: unset;
    color:black;
    border-style: unset;
    border-color: unset;
    box-shadow: unset;
}

#bootstrap-override .filtro-item {
    background-color: unset;
    color:black;

}