@import '../../style/variables.scss';

.products-content{
    padding: 24px 0;

    .category-group{
        border: 1px solid $light-gray;
        border-radius: 6px;

        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .category-item{
            
            .category-btn{
                margin: 2px;
                width: 98px;
                height: 72px;
                padding: 6px 0;
                text-align: center;
                border-radius: 0;
                background-color: $light-blue;
                color: $deep-blue;
                font-size: 0.9rem;
                font-weight: bold;
                border: none;
                border-radius: 6px;
        
                &.active{
                    background-color: $deep-blue;
                    color: $light-gray;
                }
            }
        }
    }
}

