@import '../../style/variables.scss';

#product-datails-content{
    padding-top: 24px;

    .sec-tittle{
        text-align: left;
        margin: 24px 0;
    }

    span{
        margin: 0;
    }

    .price{
        margin: 14px 0 0 0;
        color: $orange;
        font-weight: bold;
        font-size: 1.8rem;
    }

    img{
        border: 2px solid $light-blue;
        border-radius: 12px;
        max-height: 540px;
        max-width: 100%;
    }

    .description{
        font-size: 1.1rem;
    }

    .details.freight{
        color: rgb(2, 3, 3);
    }

    .quantity-selector{
        font-size: 1.4rem;
        margin-top: 0.25rem;
    }

    .btn.btn-primary{
        min-width: 180px;
        margin-top: 12px;

        &.finalize{
            background-color: $light-blue;
            color: $deep-blue;
        }
    }
}