#contributors{
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .project-description{
        p{
            font-size: 1.2rem;
        }
    }
}