#bootstrap-override #contributors{
    h2{
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .project-description{
        p{
            font-size: 1.2rem;
        }
    }
    
    @media (min-width:1199px) {
        .card-group{
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 767px) {
        margin: 0;
        max-width: 100%;

         .card-group{
            width: 100%;
        } 
    }
}